.search-form-container {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    max-width: 480px;
}
.search-form-container input[type="text"], .search-form-container input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.9; 
    border: 0;
    font-size: 1rem;
    width: 300px;
    box-shadow: none;
    outline: 0;
    color: #333;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.search-form-container input[type="text"]:hover, .search-form-container input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
}
.search-form-container input[type="text"]:focus, .search-form-container input[type="submit"]:focus {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.search-form-container input[type="submit"] {
    width: auto;
    background: rgba(45, 45, 45, 0.6);
    color: white;
}
.search-form-container input[type="submit"]:hover {
    background: rgba(30, 30, 30, 0.7);
    cursor: pointer;
}
.search-form-container input[type="submit"]:focus {
    background: rgba(0, 0, 0, 0.8);
}